<script>
    const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

    jtd.addEvent(toggleDarkMode, 'click', function(){
    if (jtd.getTheme() === 'dark') {
        jtd.setTheme('light');
        toggleDarkMode.textContent = 'Dark Mode';
    } else {
        jtd.setTheme('dark');
        toggleDarkMode.textContent = 'Light Mode';
    }
    });
</script>

<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="{{ site.url }}"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:title" content="{{ page.title }} - {{ site.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:image:secure_url" content="{{ 'assets/img/magnifying_glass.png' | relative_url }}"/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary">
<meta property="twitter:domain" content="dba-multitool.org">
<meta property="twitter:url" content="{{ site.url }}">
<meta name="twitter:title" content="{{ page.title }} - {{ site.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ 'assets/img/magnifying_glass.png' | relative_url }}">


        
